<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>A17F4735-D9E0-4F9A-BE17-888B7E1CB56B.playgroundpage</string>
		<string>48F732C6-FCFF-4280-BEA6-18D838E9FA3B.playgroundpage</string>
	</array>
</dict>
</plist>
